/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =====================================================================================*/
/* END RESET */
/* =====================================================================================*/

:root {
 /* color vars, font vars, etc... */
}


/* Global */
body {
  font-family: sans-serif;
  
}



/* Utilities */
.text-decoration-none {
  text-decoration: none;
}
.br-5px {
  border-radius: 5px;
}
.br-05rem {
  border-radius: 0.5rem;
}
.br-025rem {
  border-radius: 0.25rem;
}
.bdr-none {
  border-style: none;
}
.mgn-l-05rem {
  margin-left: 0.5rem;
}
.mgn-05rem {
  margin: 0.5rem;
}
.pdg-05em {
  padding: 0.5em;
}
.pdg-05rem {
  padding: 0.5rem;
}
.bg-clr-transparent{
  background-color: transparent;
}
.usr-slct {
  user-select: none;
}





/* Composition */





/* Blocks */
.board-title-label {
  display: block;
}

.navbar-main {
  grid-area: navbar-main;
  /* width: 100vw; */
  background-color: #68B0AB;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.share-board-input-wrapper {
  margin: 1em;
  display: inline-block;
}




/* 
  Workspace, WorkspaceSideDrawer
*/

/* Composition */
.workspace-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 60px; */
  grid-template-areas: 
  "navbar-main navbar-main"
  "wkspce-side-drawer board-link";
  /* grid-auto-flow: column; */
  /* overflow: auto; */
}

.grid-board-links {
  display: grid;
  /* background-color: lightgreen; */
  grid-template-areas: 
  "title      title      title"
  "board-link board-link board-link"
  ;
  grid-template-rows: 60px;
}

/* Blocks */
.side-drawer {
  grid-area: wkspce-side-drawer;
  width: 240px;
  height: calc(100vh - 67px);
  background-color: lightcoral;

}

.side-drawer li {
  list-style-type: none;
}

.grid-board-links h4 {
  grid-area: title;
}

.board-link a {
  grid-area: board-link;
}


/* 
  Board 
*/

/* Composition */
#grid-board {
  display: grid;
  background-color: #C8D5B9;
  grid-template-areas:
  "navbar-main        navbar-main"
  "board-side-drawer  board-navbar" 
  "board-side-drawer  board-lists";
  grid-template-columns: 60px auto;
  grid-template-rows: auto 50px auto;
}

#grid-board-lists {
  display: grid;
  grid-area: board-lists;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  /* column-gap: 0.5rem; */

  overflow: auto;
}

.flex-board-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  /* align-items: center; */
}


/* Blocks */
.board-list-bg {
  /* background-color: #B9C9A6; */
  background-color: #BCBFC7;
}


/* 
  BoardSideDrawer 
*/
/* Composition */
/* Blocks */
.board-side-drawer {
  grid-area: board-side-drawer;
  width: 60px;
  height: calc(100vh - 56px);
  background-color: #8FC0A9;
  border-right: 1px solid #9B9EAB;
  border-top: 1px solid #9B9EAB;
}

.board-side-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9B9EAB;
}

.board-side-drawer-close-btn {
  position: relative;
}

.board-side-drawer-closed {
  display: flex;
  justify-content: center;
}
.board-side-drawer-open {
  /* margin: 0.5rem; */
}

.board-side-drawer-list-boards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.side-drawer-new-board-btn {
  /* height: 50%; */
  
}

#new-board-modal-closeBtn {
  cursor: pointer;
}

#new-board-modal-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/* 
  NavbarContent 
*/

/* Composition */
/* Blocks */
#board-navbar {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  /* background-color: lightslategray; */
  grid-area: board-navbar;
  /* padding-left: 0.5em; */
  margin-left: 0.5em;
}

.members-dropdown-btn {
  background-color: #FAF3DD;
  color: black;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.members-dropdown-btn:hover, .members-dropbtn:focus {
  background-color: #2980B9;
}

.members-dropdown {
  position: relative;
  display: inline-block;
}

.members-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.members-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.members-dropdown-content a:hover {
  background-color: #ddd
}

.members-show {
  display: block;
}

.share-board-btn {
  background-color: #FAF3DD;
  color: black;
  font-size: 14px;
  
  border: none;
  cursor: pointer;
}

.share-board-btn:hover, .share-board-btn:focus {
  background-color: #2980B9;
}

.share-board {
  position: relative;
  display: inline-block;
}

.share-board-content {
  /* display: none; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.share-board-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.share-board-content a:hover {background-color: #ddd}

.share-board-form { box-sizing: border-box; }
.share-board-form * { box-sizing: border-box; }

.share-board-input-wrapper {
  position: relative;
  display: inline-block;
  width: 300px;
}
.autocomplete-items > input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
#share-board-input-email[type=email] {
  background-color: #f1f1f1;
  width: 100%;
}

.share-board-err-msg {
  display: block;
  width: 100%;
  font-size: 80%;
  color: red;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  background-color: white;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/*
  Card
*/
/* Composition */
/* Blocks */
.card-btn-wrapper {
  width: calc(100% - 1rem);
  /* width: 100%; */
}


.card-btn-title {
  width: calc(90% - 3px);
  background-color: #F4F4F6;
  padding-top: 3px;
  padding-bottom: 3px;
}

.card-btn-title:hover {
  background-color: #DEDFE3;
  cursor: pointer;
}

.card-btn-rmv {
  width: 10%;
  margin-left: 3px;
}

#card-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;

}

#card-modal-content {
  background-color: gray;
  bottom: 400px;
}

#card-modal-close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#card-modal-closeBtn {
  cursor: pointer;
}


/* 
  ListTitle
*/
/* Composition */
/* Blocks */
.list-title.wrapper {
  display: flex;
  width: calc(100% - 1rem);
  margin-top: 0.5rem;
}

.list-title-input {
  resize: none;
  overflow-y: hidden;
  width: 90%;
  
}

.list-title-input::selection {
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  user-select: none;
}

.list-title-handle-dropdown-wrapper {
  /* margin-left: 0.5rem; */
}

.list-title-handle-dropdown {
  position: relative;
  margin-left: 3px;
  
}

.list-title-handle-dropdown::before {
  content: "\e9a4";
  font-family:"uxwing-iconsfont";
  /* font-size: 50%; */
  /* color: ; */
}

.list-title-handle-dropdown:hover {
  background-color: #DEDFE3;
  cursor: pointer;
}

.list-actions {
  position: absolute;
  background-color: #f1f1f1;
}

.list-actions-move-list {
  display: flex;
}

.move-list {
  position: absolute;
  background-color: lightsalmon;
  /* left: 100%; */
}

#move-list-header {
  width: 120px;
}

.move-list-board {
  display: flex;
  flex-wrap: wrap;
}

/*
AddACard
*/
/* Composition */
/* Blocks */
.add-card-txt-area {
  overflow: hidden;
  width: calc(100% - 1rem);
  min-height: 3.5em;
}

.add-card-btn {
  margin-bottom: 0.5rem;
}

/*
AddAList
*/
/* Composition */
/* Blocks */

