/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =====================================================================================*/
/* END RESET */
/* =====================================================================================*/

:root {
  /* color vars, font vars, etc... */
}


/* Global */
body {
  font-family: sans-serif;

}



/* Utilities */
.text-decoration-none {
  text-decoration: none;
}

.br-5px {
  border-radius: 5px;
}

.br-05rem {
  border-radius: 0.5rem;
}

.br-025rem {
  border-radius: 0.25rem;
}

.bdr-none {
  border-style: none;
}

.mgn-l-05rem {
  margin-left: 0.5rem;
}

.mgn-l-1rem {
  margin-left: 1rem;
}

.mgn-05rem {
  margin: 0.5rem;
}

/* .mgn-1rem {
  margin: 1rem;
} */
.pdg-05em {
  padding: 0.5em;
}

.pdg-4x8px {
  padding: 4px 8px 4px 8px;
}

.pdg-8x12px {
  padding: 8px 12px 8px 12px;
}

.pdg-075rem {
  padding: 0.75rem;
}

.bg-clr-transparent {
  background-color: transparent;
}


.fnt-sz-12px {
  font-size: 12px;
}

.fnt-sz-14px {
  font-size: 14px;
}

.menu-title-clr {
  color: #5D606F;
}

.label-clr {
  color: #787891;
}



.usr-slct {
  user-select: none;
}

.word-brk-all {
  word-break: break-all;
}




/* Composition */





/* Blocks */
.board-title-label {
  display: block;
}

.navbar {
  /* grid-area: navbar-main; */
  position: fixed;
  width: 100vw;
  background-color: #68B0AB;
  z-index: 1;
}



nav a {
  display: inline-block;
  margin: 1em;
}

/*
  AuthForm
*/
/* Blocks */

#login-signup-page {
  height: 100vh;
}

.auth-form-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-form-main-title {
  flex-grow: 1;
  flex-basis: 100%;
  padding: 2rem 0 2rem 0;

}

.auth-form-main-title-txt {
  text-align: center;
  font-size: 2.5rem;
}

.auth-form-container {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.auth-form-login-title-txt {
  padding-bottom: 2rem;
}

.auth-form-login-title-after-txt {
  padding-bottom: 2rem;

  font-weight: normal;
}

.login-title-after-txt-container {
  text-align: center;
}

.auth-form-signup-title-txt {
  padding-bottom: 2rem;
}

.auth-form-form {
  width: 350px;
}

.auth-form-input-username {
  width: 100%;
  height: 36px;
  margin-bottom: 1rem;
  padding: 0 0.25rem 0 0.25rem;
}

.auth-form-input-username-after-container {
  padding: 0 6px 1rem 6px;
}

.auth-form-continue-btn {
  width: 100%;
  margin-bottom: 1rem;

  background-color: #68B0AB;
  color: whitesmoke;
}

.auth-form-continue-btn:hover {
  cursor: pointer;
  background-color: #94C7C3;
}

.auth-form-input-pw {
  width: 100%;
  height: 36px;
  margin-bottom: 1rem;
  padding: 0 0.25rem 0 0.25rem;
}

.auth-form-input-email {
  width: 100%;
  height: 36px;
  margin-bottom: 1rem;
  padding: 0 0.25rem 0 0.25rem;
}

.auth-form-submit-login-btn {
  width: 100%;
  margin-bottom: 1rem;

  background-color: #68B0AB;
  color: whitesmoke;
}

.auth-form-submit-login-btn:hover {
  cursor: pointer;
  background-color: #94C7C3;
}

.auth-form-submit-signup-btn {
  width: 100%;
  margin-bottom: 1rem;

  background-color: #68B0AB;
  color: whitesmoke;
}

.auth-form-submit-signup-btn:hover {
  cursor: pointer;
  background-color: #94C7C3;
}

.auth-form-separator {
  height: 2px;
  width: 100%;
  margin-bottom: 0.75rem;
}

.auth-form-to-login {
  margin: 0 0.5rem 0 0.5rem;
}

.auth-form-separate-login-signup-container {
  position: relative;
  width: 4px;
  height: 8px;
  display: inline-block;
}

.auth-form-separate-login-signup::before {
  position: absolute;

  content: "\e95f";
  font-family: "uxwing-iconsfont";
  font-size: 4px;
}

.auth-form-to-signup {
  margin: 0 0.5rem 0 0.5rem;
}



/*
  NavbarContent
*/
.share-board-input-wrapper {
  margin: 1em;
  display: inline-block;
}




/* 
  Workspace
*/

/* Composition */
.workspace-layout-grid {
  display: grid;
  grid-template-columns: 1fr 240px 3fr 1fr;
  grid-template-rows: 56px minmax(92vh, auto);
  grid-template-areas:
    "navbar-filler navbar-filler navbar-filler navbar-filler"
    ". wkspce-side-drawer wkspces-display .";
  /* grid-auto-flow: column; */
  /* overflow: auto; */

}

/* Blocks */
.workspaces-display-section {
  grid-area: wkspces-display;
  margin: 1rem 1rem 1rem 1rem;

  background-color: whitesmoke;
}

.workspaces-display-wrapper {
  padding-bottom: 2rem;
}

.workspaces-display-header {
  display: flex;
  margin: 2rem 0 0.25rem 40px;
}

.workspaces-display-boards {
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-left: 40px;
}

.workspaces-display-board-item {
  flex-basis: 23%;
  /* display: flex;
  flex-direction: column; */
  height: 100px;

  background-color: #A1CECA;
  /* overflow: hidden; */
}

.workspaces-display-board-item:hover {
  background-color: rgba(161, 206, 202, 0.6);
  cursor: pointer;
}

.workspaces-display-board-link-container {
  display: flex;
  flex-direction: column;
  height: 72px;
  overflow: hidden;
}

.workspaces-display-board-link {
  flex-basis: 100%;


  text-decoration: none;
  font-weight: 550;
  color: #5F646D;

}

.workspaces-display-board-link:visited {
  color: #5F646D;
}


/*
  WorkspaceNewBoard
*/
.workspaces-display-create-board.new-board {
  flex-basis: 23%;
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #A1CECA;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.workspaces-display.new-board.menu {
  position: absolute;
  right: -300px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.workspaces-display.new-board.menu-title {
  position: relative;
  display: flex;
  justify-content: center;

  border-bottom: thin solid #D2D4DA;
  padding: 0 0 6px 0;
}

.workspaces-display.new-board.menu-close-btn {
  position: absolute;
  right: 0;
  line-height: 20px;
  font-size: 20px;
  /* pointer-events: auto; */
}

.workspaces-display.new-board.menu-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}



/*
  WorkspaceSettings, WorkspaceSettingsSideDrawer
*/
.workspace-settings-layout-grid {
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: 56px;
  grid-template-areas:
    "navbar-filler navbar-filler"
    "wrkspce-settings-side-drawer wrkspce-settings";
}

/* Blocks */
.wrkspce-settings-side-drawer-wrapper {
  position: fixed;
  top: 56px;
  /* grid-area: wrkspce-settings-side-drawer; */
  height: 100vh;

  background-color: #8FC0A9;
  border-right: 1px solid #9B9EAB;
  /* border-top: 1px solid #9B9EAB; */
  overflow: auto;
}

.wrkspce-settings-side-drawer.new-board.menu {
  position: fixed;
  top: 127px;
  left: 246px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.workspace-settings-wrapper {
  grid-area: wrkspce-settings;
}

.workspace-settings-header-wrapper {
  display: flex;
  justify-content: center;

  /* background-color: orange; */
}

.workspace-settings-header {
  width: 50%;
  padding: 2rem;

  /* background-color: lightslategray; */
}

.workspace-settings-header-btm-hr {
  height: 1px;
  width: 90%;
}

.workspace-settings-container {
  display: flex;
  justify-content: center;

  /* background-color: red; */
}

.workspace-settings {
  width: 50%;

  /* background-color: lightskyblue; */
}

.workspace-settings-title {
  padding: 1rem;

  font-size: 20px;
}

.workspace-settings-del-wkspce-wrapper {
  position: relative;
  width: fit-content;
}

.workspace-settings-del-wkspce-btn {
  width: fit-content;

  color: red;
  text-decoration: underline;
}

.workspace-settings-del-wkspce-btn:hover {
  cursor: pointer;
  color: #2980B9;
}

.workspace-settings-del-wkspce-modal-wrapper {
  position: absolute;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.workspace-settings-del-wkspce-title {
  position: relative;
  display: flex;
  justify-content: center;

  border-bottom: thin solid #D2D4DA;
  padding: 0 0 6px 0;
}

.workspaces-settings-del-wkspce-close-btn {
  position: absolute;
  right: 0;
  line-height: 20px;
  font-size: 20px;
}

.workspaces-settings-del-wkspce-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.workspace-settings-del-wkspce-h3 {
  margin: 1em 0 0.75em 0;

  font-size: 16px;
}

.workspace-settings-del-wkspce-ul {
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
  padding-inline-start: 1.5em;
}

.workspace-settings-del-wkspce-input-label {
  font-size: 14px;
}

.workspace-settings-del-wkspce-input {
  width: 100%;
  padding: 1px 6px 1px 6px;

  background-color: rgba(244, 245, 246, 0.6);
  border-style: solid;
  border-width: 3px;
  border-color: #DDE0E3;
}

.workspace-settings-del-wkspce-input:hover {
  background-color: rgba(244, 245, 246, 1);
}

.workspace-settings-del-wkspce-input:focus {
  background-color: white;
}

.workspace-settings-del-wkspce-submit-btn {
  width: 100%;
  height: 32px;
  margin-top: 0.5rem;

  background-color: #FAF3DD;
}

.workspace-settings-del-wkspce-submit-btn:hover {
  cursor: pointer;
  background-color: #F4E6B8;
}

.workspace-settings-del-wkspce-submit-btn-disabled[disabled] {
  width: 100%;
  height: 32px;
  margin-top: 0.5rem;

  background-color: rgba(233, 235, 237, 0.8);
  cursor: not-allowed;
}



/*
  WorkspaceSideDrawer
*/
/* Composition */

/* Blocks */
.workspace-side-drawer {
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 336px;
  /* grid-area: wkspce-side-drawer; */
  width: 240px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;

  background-color: lightcoral;
}

.workspace-side-drawer-title {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 1rem 1.25rem 1rem;
}

.add-workspace-btn {
  line-height: 20px;
  font-size: 24px;
}

.add-workspace-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.workspace-side-drawer-contents {
  flex-basis: 100vh;
}

.workspace-side-drawer-wkspce-title-txt {
  display: block;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-workspace-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(105, 109, 125, 0.6);
  overflow: auto;
}

.add-workspace-modal {
  flex: 0 1 50%;
  position: relative;
  width: 60%;
  margin-top: 5%;
  /* margin-bottom: 3%; */
  /* padding-bottom: 1rem; */
  display: flex;
  border-radius: 6px 8px 8px 6px;

  background-color: #F4F4F6;

}

.add-workspace-modal-close-btn {
  position: absolute;
  right: 0;

  line-height: 24px;
  font-size: 28px;
}

.add-workspace-modal-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.add-workspace-form-section {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-workspace-form-h3 {
  margin: 10% 0 4px 0;
}

.add-workspace-input-label {
  display: block;
}

.add-workspace-submit-btn {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;

  background-color: rgba(210, 212, 218, 0.7);
}

.add-workspace-submit-btn:hover {
  cursor: pointer;
  background-color: rgba(210, 212, 218);
}

.add-workspace-submit-btn-disabled[disabled] {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;

  background-color: rgba(210, 212, 218, 0.7);
  cursor: not-allowed;

}

.add-workspace-right-half {
  flex-basis: 50%;

  background-color: #8FC0A9;
  border-radius: 0 6px 6px 0;
}

/* 
  Board 
*/

/* Composition */
#grid-board {
  display: grid;
  background-color: #C8D5B9;
  grid-template-areas:
    "navbar-main        navbar-main"
    "board-side-drawer  board-navbar"
    "board-side-drawer  board-lists";
  grid-template-columns: 30px auto;
  grid-template-rows: 56px 50px minmax(calc(100vh - 106px), auto);
}

#grid-board-lists {
  display: grid;
  grid-area: board-lists;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  /* column-gap: 0.5rem; */

  overflow: auto;
}

.flex-board-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}


/* Blocks */
.board-list-bg {
  /* background-color: #B9C9A6; */
  background-color: #BCBFC7;
}


/* 
  BoardSideDrawer 
*/
/* Composition */
/* Blocks */
.board-side-drawer-wrapper {
  grid-area: board-side-drawer;

  background-color: #8FC0A9;
  border-right: 1px solid #9B9EAB;
  border-top: 1px solid #9B9EAB;
}

.board-side-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9B9EAB;
}

.board-side-drawer-wkspce-title {
  font-size: 18px;
}

.board-side-drawer-close-btn {
  position: relative;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;

}

.board-side-drawer-close-btn:hover {
  cursor: pointer;
  background-color: #CBE1D7;
}

.board-side-drawer-close-btn::before {
  content: "\e90e";
  font-family: "uxwing-iconsfont";
  font-size: 12px;
}

.board-side-drawer-closed {
  position: relative;
  display: flex;
  justify-content: center;
}

.board-side-drawer-open-btn {
  position: fixed;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.board-side-drawer-open-btn:hover {
  cursor: pointer;
}

.board-side-drawer-list-boards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-side-drawer-list-boards-title {
  font-weight: 900;
}

.board-side-drawer-new-board-btn {
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
}

.board-side-drawer-new-board-btn:hover {
  cursor: pointer;
  background-color: #CBE1D7;
}

.board-side-drawer-board-links {
  /* display: flex;
  flex-direction: column; */
}

.board-side-drawer-board-links-ul {
  margin: 0;
  padding-bottom: 62px;
  padding-inline-start: 0;

}

.board-side-drawer-board-links-li {
  list-style-type: none;
}

.board-side-drawer-board-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem 0 0.75rem;

  /* cursor: pointer; */
}

.board-side-drawer-board-link {
  flex-grow: 1;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.board-side-drawer-board-link-actions-btn-wrapper {
  position: relative;
}

.board-side-drawer-board-link-actions-btn {
  visibility: hidden;
}

.board-side-drawer-board-link-actions-btn::before {
  content: "\e9a4";
  font-family: "uxwing-iconsfont";
  color: #696D7D;
}

.board-side-drawer-board-link-actions-btn:hover {
  background-color: #CBE1D7;
  cursor: pointer;
}

.board-side-drawer-board-link-delete-board-menu-wrapper {
  position: fixed;
  z-index: 1;
  width: 300px;
  margin: 4px 0 0 0;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.board-side-drawer-board-link-delete-board-menu-confirm-title-wrapper {
  padding: 0 0.75rem 0 0.75rem;
}

.board-side-drawer-board-link-delete-board-menu-confirm-title {
  position: relative;
  border-bottom: thin solid #D2D4DA;
  padding: 0.75rem 0 6px 0;

  text-align: center;
}

.board-side-drawer-board-link-delete-board-menu-confirm-title-left {
  position: absolute;
  left: 0;
  padding-left: 0;

  cursor: pointer;
}

.board-side-drawer-board-link-delete-board-menu-confirm-title-left:hover {
  font-weight: 900;
}

.board-side-drawer-board-link-delete-board-menu-confirm-title-left::before {
  content: "\ea11";
  font-family: "uxwing-iconsfont";
  font-size: 13px;
}

.board-side-drawer-board-link-delete-board-menu-confirm-close-btn {
  position: absolute;
  right: 0;

  line-height: 20px;
  font-size: 20px;
}

.board-side-drawer-board-link-delete-board-menu-confirm-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.board-side-drawer-board-link-delete-board-menu-confirm-delete {
  /* display: flex; */

  margin: 6px 0.75rem 0.75rem 0.75rem;
}

.board-side-drawer-board-link-delete-board-menu-confirm-delete-btn {
  display: block;
  width: 100%;
  margin: 6px 0 6px 0;
  padding: 6px;

  background-color: #FAF3DD;
}

.board-side-drawer-board-link-delete-board-menu-confirm-delete-btn:hover {
  cursor: pointer;
  background-color: #ECD483;
}

.board-side-drawer-board-link-delete-board-menu-title-wrapper {
  padding: 0 0.75rem 0 0.75rem;
}

.board-side-drawer-board-link-delete-board-menu-title {
  position: relative;
  border-bottom: thin solid #D2D4DA;
  padding: 0.75rem 0 6px 0;

  text-align: center;
}

.board-side-drawer-board-link-delete-board-menu-title-txt {
  display: inline-block;
  width: calc(100% - 40px);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.board-side-drawer-board-link-delete-board-menu-title-close-btn {
  position: absolute;
  right: 0;

  line-height: 20px;
  font-size: 20px;
}

.board-side-drawer-board-link-delete-board-menu-title-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.board-side-drawer-board-link-delete-board-menu-actions:hover {
  background-color: #D3D5D9;

}

.board-side-drawer-board-link-delete-board-menu-actions-del {
  display: flex;
  /* justify-content: space-between; */
  margin: 6px 0 6px 0;

}

.board-side-drawer-board-link-delete-board-menu-actions-del-btn {
  display: block;
  flex-grow: 1;
  padding: 6px 0.75rem 6px 0.75rem;

  cursor: pointer;
  text-align: left;
}

.board-side-drawer-board-link-delete-board-menu-actions-del-btn-right {
  padding: 0 16px 0 0;

  cursor: pointer;
}

.board-side-drawer-board-link-delete-board-menu-actions-del-btn-right::before {
  content: "\ea12";
  font-family: "uxwing-iconsfont";
  font-size: 13px;
}

.board-side-drawer.new-board.menu {
  position: absolute;
  top: 113px;
  left: 240px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* #new-board-modal {
  position: absolute;
  flex-basis: 0;
}

#new-board-modal-content {
  z-index: 1;
  left: 240px;
}

#new-board-modal-closeBtn {
  cursor: pointer;
}

#new-board-modal-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
} */

/* 
  NavbarContent 
*/

/* Composition */
/* Blocks */
#board-navbar {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  /* background-color: lightslategray; */
  grid-area: board-navbar;
  /* padding-left: 0.5em; */
  margin-left: 0.5em;
}

.board-navbar-h3 {
  margin-left: 8px;
}

.members-dropdown-btn {
  background-color: #FAF3DD;
  color: black;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.members-dropdown-btn:hover,
.members-dropbtn:focus {
  background-color: #2980B9;
}

.members-dropdown {
  position: relative;
  display: inline-block;
}

.members-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.members-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.members-dropdown-content a:hover {
  background-color: #ddd
}

.members-show {
  display: block;
}

.share-board-btn {
  background-color: #FAF3DD;
  color: black;
  font-size: 14px;

  border: none;
  cursor: pointer;
}

.share-board-btn:hover,
.share-board-btn:focus {
  background-color: #2980B9;
}

.share-board {
  position: relative;
  display: inline-block;
}

.share-board-content {
  /* display: none; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.share-board-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.share-board-content a:hover {
  background-color: #ddd
}

.share-board-form {
  box-sizing: border-box;
}

.share-board-form * {
  box-sizing: border-box;
}

.share-board-input-wrapper {
  position: relative;
  display: inline-block;
  width: 300px;
}

.autocomplete-items>input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

#share-board-input-email[type=email] {
  background-color: #f1f1f1;
  width: 100%;
}

.share-board-err-msg {
  display: block;
  width: 100%;
  font-size: 80%;
  color: red;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  background-color: white;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/*
  Card
*/
/* Composition */
/* Blocks */
.card-btn-wrapper {
  position: relative;

}

.card-btn-edit-title {
  position: absolute;
  z-index: 2;


}

.card-btn-txtarea {
  line-height: 24px;
  resize: none;
  overflow: hidden;
  outline-style: none;
  border-style: none;
}

.card-btn-submit-btn {
  background-color: rgba(105, 109, 125);
  color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);

}

.card-btn-submit-btn:hover {
  cursor: pointer;
  background-color: #545664;
}

.card-btn-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.25rem;
  min-height: 34px;
  /* height of card-btn-rmv-wrapper */
  width: calc(100% - 1rem);

  background-color: #F4F4F6;
  overflow-wrap: anywhere;

}

.card-btn-title:hover {
  background-color: #DEDFE3;
  cursor: pointer;

}

.card-btn-title-txt {
  /* overflow-wrap: break-word; */
}

.card-btn-rmv-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.card-btn-rmv-wrapper button {
  visibility: hidden;
}

.card-btn-rmv-wrapper:hover button {
  visibility: visible;
}

.card-btn-rmv {
  /* padding-top: 3px;
  padding-bottom: 3px; */
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.card-btn-rmv::before {
  content: "\ea51";
  font-family: "uxwing-iconsfont";
  font-size: 14px;
}

.card-btn-rmv:hover {
  background-color: #F4F4F6;
  cursor: pointer;

}

/*
  CardSideMenu
*/

.card-side-menu {
  position: absolute;
  right: 0;
  z-index: 2;

  /* background-color: rgba(105, 109, 125, 0.4); */
}



.card-side-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: 1; */

  background-color: rgba(105, 109, 125, 0.6);
}

.card-side-menu-actions {
  position: absolute;
  /* z-index: 2; */
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  /* background-color: rgba(105, 109, 125, 0.4); */
}

.card-side-menu-del-btn {
  width: max-content;

  background-color: rgba(65, 66, 78);
  color: rgba(255, 255, 255, 0.8);

}

.card-side-menu-del-btn:hover {
  cursor: pointer;
  background-color: rgba(46, 47, 56);
  color: rgba(255, 255, 255, 1);
}

.card-side-menu-del-prompt {
  position: absolute;
  top: 29px;
  width: 150px;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.card-side-menu-del-prompt-title {
  display: flex;
  justify-content: center;

  border-bottom: thin solid;
  padding: 0 0 6px 0;

  text-align: center;
}

.card-side-menu-del-prompt-yes-no {
  display: flex;
  justify-content: space-around;
  margin-top: 0.75rem;

}

.card-side-menu-del-prompt-yes-btn {
  width: 40px;

  background-color: #FCF9ED;
}

.card-side-menu-del-prompt-yes-btn:hover {
  cursor: pointer;
  background-color: #F9F3DC;
}

.card-side-menu-del-prompt-no-btn {
  width: 40px;

  background-color: #FCF9ED;
}

.card-side-menu-del-prompt-no-btn:hover {
  cursor: pointer;
  background-color: #F9F3DC;
}

.card-side-menu-move-btn {
  width: max-content;

  background-color: rgba(65, 66, 78);
  color: rgba(255, 255, 255, 0.8);
}

.card-side-menu-move-btn:hover {
  cursor: pointer;
  background-color: rgba(46, 47, 56);
  color: rgba(255, 255, 255, 1);
}

.card-side-menu-move-card {
  position: absolute;
  top: 58px;
  width: 250px;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.card-side-menu-move-card-title {
  position: relative;
  display: flex;
  justify-content: center;

  border-bottom: thin solid;
  padding: 0 0 6px 0;

  text-align: center;
}

.card-side-menu-move-card-close-btn {
  position: absolute;
  right: 0;
  line-height: 20px;
  font-size: 18px;
}

.card-side-menu-move-card-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.card-side-menu-move-card-select-h5 {
  margin: 0.25rem 0 0 0;
  font-weight: 600;
}

.card-side-menu-move-card-select-board-label {
  display: block;
  border-radius: 3px 3px 0 0;
  padding: 6px 0 0 6px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-board-container {
  position: relative;
  border-radius: 0 0 3px 3px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-board-display-value {
  display: block;
  padding: 0 6px 2px 6px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-side-menu-move-card-select-board {
  position: absolute;
  top: 0;
  width: 226px;

  text-overflow: ellipsis;
  opacity: 0;
}

.card-side-menu-move-card-select-board:hover {
  cursor: pointer;
}

.card-side-menu-move-card-select-list-pos-wrapper {
  margin-top: 8px;
}

.card-side-menu-move-card-select-list-wrapper {
  display: inline-block;
}

.card-side-menu-move-card-select-list-label {
  display: block;
  width: 126px;
  border-radius: 3px 3px 0 0;
  padding: 6px 0 0 6px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-list-container {
  position: relative;
  width: 126px;
  border-radius: 0 0 3px 3px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-list-display-value {
  display: block;
  padding: 0 6px 2px 6px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-side-menu-move-card-select-list {
  position: absolute;
  top: 0;
  width: 126px;

  text-overflow: ellipsis;
  opacity: 0;
}

.card-side-menu-move-card-select-list:hover {
  cursor: pointer;
}

.card-side-menu-move-card-select-position-wrapper {
  display: inline-block;
  width: calc(100% - 126px - 8px);
  margin: 0 0 0 8px;
}

.card-side-menu-move-card-select-position-label {
  display: block;
  border-radius: 3px 3px 0 0;
  padding: 6px 0 0 6px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-position-container {
  position: relative;
  border-radius: 0 0 3px 3px;

  background-color: #F4F4F6;
}

.card-side-menu-move-card-select-position-display-value {
  display: block;
  padding: 0 6px 2px 6px;

  overflow: hidden;
}

.card-side-menu-move-card-select-position {
  position: absolute;
  top: 0;
  width: 100%;

  text-overflow: ellipsis;
  opacity: 0;
}

.card-side-menu-move-card-select-position:hover {
  cursor: pointer;
}

.card-side-menu-move-card-submit-btn {
  width: 35%;
  margin: 0.5rem 0 0 0;

  background-color: rgba(105, 109, 125);
  color: white;
  font-size: 18px;
}

.card-side-menu-move-card-submit-btn:hover {
  cursor: pointer;
  background-color: #545664;
}

.card-side-menu-move-card-submit-btn[disabled] {
  cursor: not-allowed;
  background-color: rgba(105, 109, 125, 0.5);
}



/*
  CardModal
*/
.card-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  background-color: rgba(105, 109, 125, 0.6);
  overflow: auto;
}

.card-modal {
  flex: 0 1 90%;
  position: relative;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 1rem;

  background-color: #F4F4F6;
}

.card-modal-title {
  margin: 1rem 1rem 0.25rem 1rem;
}

.card-modal-form-title {
  display: inline-block;
  width: 95%;
}

.card-modal-title-icon::before {
  content: "\ea52";
  font-family: "uxwing-iconsfont";
  font-size: 20px;
}

/* .card-modal-form-title::before {
  content: "\ea52";
  font-family: "uxwing-iconsfont";
  font-size: 20px;
} */

.card-modal-title-input {
  width: calc(95% - 16px);
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /* margin-bottom: 2px; */

  font-size: 20px;
  font-weight: 600;
  outline-color: #696D7D;

}

.card-modal-under-title {
  margin-top: 2px;

}

.card-modal-in-list {
  position: relative;
  left: 34px;

  font-size: 14px;
}

.card-modal-in-list-btn {
  padding: 0;
  height: 21px;
  border-style: none;
  margin-left: 0.25rem;

  /* background-color: red; */
  text-decoration: underline;
  cursor: pointer;
}

.card-modal-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: minmax(100px, auto) minmax(90px, auto) auto; */
  grid-template-rows: auto minmax(90px, auto) auto;
  grid-template-areas:
    "description sideMenu"
    "activity sideMenu"
    "comments sideMenu";
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.card-description-wrapper {
  grid-area: description;
}

.card-description-form {
  height: 100%;
}

.card-description-submit {}

.card-description-heading {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0
}

.card-description-icon::before {
  content: "\eab5";
  font-family: "uxwing-iconsfont";

}

.card-description-label {
  display: inline-block;
  margin-left: 0.5rem;

  font-weight: 600;
}

.card-description-edit-section {
  position: relative;
  left: 24px;
  /* height: calc(100% - 42px); */
}

.card-description-edit-txtarea {
  display: block;
  position: relative;
  width: calc(100% - 24px);
  /* left: 24px; */
  /* min-height: 75%; */

  line-height: 20px;
  resize: none;
  outline-color: #696D7D;
  overflow: hidden;

}

.card-description-edit-handles {
  position: relative;
  /* left: 24px; */
  width: calc(100% - 24px);
  margin-top: 0.5rem;
}

.card-description-edit-cancel {
  cursor: pointer;
  margin: 0 0 0 0.25rem;

}

.card-description-edit-cancel:hover {
  background-color: #DDDDE3;
}

.card-description-edit-submit {
  cursor: pointer;
  background-color: rgba(105, 109, 125);
  color: white;
}

.card-description-edit-submit:hover {
  background-color: #545664;
}

.card-description-show {
  cursor: pointer;
  position: relative;
  left: 24px;
  width: calc(100% - 24px);

  line-height: 20px;
}

.card-description-empty {
  cursor: pointer;
  position: relative;
  left: 24px;
  width: calc(100% - 24px);
  /* height: 40%; */
  /* background-color: #D2D5DA; */
  background-color: rgba(210, 213, 218, 0.5);

}

.card-description-empty:hover {
  background-color: rgba(210, 213, 218, 1);
}

.card-description-empty-txt {
  height: 60px;

}

.card-activity-wrapper {
  grid-area: activity;
}

.card-activity-heading {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0
}

.card-activity-icon::before {
  content: "\eab5";
  font-family: "uxwing-iconsfont";

}

.card-activity-label {
  display: inline-block;
  margin-left: 0.5rem;

  font-weight: 600;
}

.card-activity-edit-section {
  position: relative;
  left: 24px;
  width: calc(100% - 24px);
  background-color: white;

}

.card-activity-txtarea {
  width: 100%;

  resize: none;
  outline: none;
}

.card-activity-txtarea-save {
  cursor: pointer;
  margin: 0 0 0.5rem 0.5rem;
  height: 2rem;

  background-color: rgba(105, 109, 125);
  color: white;
}

.card-activity-txtarea-save[disabled] {
  cursor: not-allowed;
  font-size: 14px;
  margin: 0 0 0.5rem 0.5rem;

  background-color: #E9E9EC;
  color: #A7A7B4;
}

.card-activity-before-edit {
  /* cursor: pointer; */
  position: relative;
  left: 24px;
  width: calc(100% - 24px);
  height: 34px;

  resize: none;
  outline: none;
  overflow: hidden;
}

.card-activity-before-edit:hover {
  cursor: pointer;
  background-color: #DEDFE3;
}

.card-user-comment-grid-area {
  grid-area: comments;
}

.card-user-comment-wrapper {
  position: relative;
  left: 24px;
  width: calc(100% - 24px);
}

.card-user-comment {}

.card-user-comment-owner {
  font-size: 14px;
  font-weight: 700;
  color: #25262C;
}

.card-user-comment-timestamp {
  font-size: 12px;
  color: #41434E;
  margin: 0 0 0 0.5em;
}

.card-user-comment-display {
  padding: 8px 12px 8px 12px;
  background-color: white;

  line-height: 20px;
}

.card-user-comment-at {
  margin-right: 0.25em;
  padding: 2px 3px 3px 3px;
  background-color: #DEDEE3;
}

.card-user-comment-display-controls {
  margin: 3px 0 0 0;
}

.card-user-comment-edit-btn {
  color: #696D7D;
}

.card-user-comment-edit-btn:hover {
  cursor: pointer;
  background-color: #C7C9D1;
  color: #4A4D59;
  border-radius: 0.5rem;

}

.card-user-comment-reply-btn {
  color: #696D7D;
}

.card-user-comment-reply-btn:hover {
  cursor: pointer;
  background-color: #C7C9D1;
  color: #4A4D59;
  border-radius: 0.5rem;
}

.card-user-comment-delete-btn-wrapper {
  display: inline-block;
}

.card-user-comment-delete-btn {
  color: #696D7D;
}

.card-user-comment-delete-btn:hover {
  cursor: pointer;
  background-color: #C7C9D1;
  color: #4A4D59;
  border-radius: 0.5rem;
}

.card-user-comment-delete-prompt {
  position: absolute;
  z-index: 2;
  width: 300px;
  margin: 0 0 0 14px;

  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

}

.card-user-comment-delete-prompt-title {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;

  border-bottom-style: solid;
  border-bottom-width: thin;

}

.card-user-comment-delete-prompt-close-btn {
  position: absolute;
  right: 0;
  line-height: 20px;
  font-size: 18px;

}

.card-user-comment-delete-prompt-close-btn:hover {
  cursor: pointer;
  font-weight: bold;
}

.card-user-comment-delete-prompt-delete {
  display: flex;
  justify-content: center;
}

.card-user-comment-delete-prompt-delete-btn {
  width: 100%;
  background-color: #FAF3DD;
}

.card-user-comment-delete-prompt-delete-btn:hover {
  cursor: pointer;
  background-color: #ECD483;
}

.card-user-comment-edit-section {}

.card-user-comment-txtarea-wrapper {
  background-color: white;

}

.card-user-comment-txtarea {
  width: 100%;
  padding: 8px 12px 8px 12px;

  line-height: 20px;
  resize: none;
  overflow: hidden;
  /* outline-color: #696D7D; */

}

.card-user-comment-txtarea:focus {
  outline-style: none;
}

.card-user-comment-edit-controls {}

.card-user-comment-save-btn {
  margin: 0 0 8px 12px;
  /* padding: 3px 6px 3px 6px; */
  height: 2rem;

  background-color: rgba(105, 109, 125);
  color: white;
}

.card-user-comment-save-btn:hover {
  cursor: pointer;
  background-color: #545664;
}

.card-user-comment-close-btn {
  margin: 0 0 0 4px;
  height: 2rem;
}

.card-user-comment-close-btn:hover {
  cursor: pointer;
  color: #696D7D;
}

.card-user-comment-close-btn::before {
  content: "\e964";
  font-family: "uxwing-iconsfont";
}


.card-side-menu-wrapper {
  grid-area: sideMenu;
}

.testButton {
  display: block;
}

.card-modal-title-input:focus {
  background-color: white;
}

.card-modal-close-btn {
  position: absolute;
  /* width: 5%; */
  right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 9px;
  z-index: 2;
}

.card-modal-close-btn::before {
  content: "\e964";
  font-family: "uxwing-iconsfont";
}

.card-modal-close-btn:hover {
  cursor: pointer;
  background-color: #DEDFE3;
}


/* 
  ListTitle
*/
/* Composition */
/* Blocks */
.list-title.wrapper {
  display: flex;
  width: calc(100% - 1rem);
  margin-top: 0.5rem;
}

.list-title-input {
  resize: none;
  overflow-y: hidden;
  width: 90%;

}

.list-title-input:focus {
  background-color: white;
}

/* .list-title-input::selection {
  user-select: none;
} */

.list-title-handle-dropdown-wrapper {
  position: relative;

}

.list-title-handle-dropdown {
  position: relative;
  margin-left: 3px;

}

.list-title-handle-dropdown::before {
  content: "\e9a4";
  font-family: "uxwing-iconsfont";
  color: #696D7D;
}

.list-title-handle-dropdown:hover {
  background-color: #DEDFE3;
  cursor: pointer;
}

.list-title-dropdown {
  position: absolute;
  z-index: 1;
}

.list-actions {
  /* position: absolute;
  z-index: 1; */

  background-color: #f1f1f1;
}

.list-actions-move-list {
  display: flex;
}

.delete-list-prompt-wrapper {
  position: absolute;
  z-index: 1;
}

.list-title-dropdown-move-list {
  position: absolute;
  z-index: 1;

  background-color: #F4F4F6;
}

/* .move-list {
  position: absolute;
  background-color: #F4F4F6;
} */

#move-list-header {
  width: 120px;
}

.move-list-select {
  display: flex;
  flex-wrap: wrap;
}

.move-list-select-board {
  display: block;
  width: 300px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.move-list-select-list {
  display: block;
  width: 300px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
AddACard
*/
/* Composition */
/* Blocks */
.add-card-txt-area {
  overflow: hidden;
  width: calc(100% - 1rem);
  min-height: 3.5em;
}

.add-card-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  min-height: 34px;
  width: calc(100% - 1rem);
}

.add-card-btn-container:hover {
  cursor: pointer;
  background-color: #DEDFE3;
}

.add-card-btn-plus-icon {
  padding-left: 0.5rem;
  padding-bottom: 3px;

  font-size: 20px;
  line-height: 24px;
}

.add-card-btn {
  cursor: pointer;
}

.add-card-btn-after-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  min-height: 34px;
  width: calc(100% - 1rem);
}

.add-card-btn-after {
  background-color: rgba(105, 109, 125);
  color: white;
}

.add-card-btn-after:hover {
  cursor: pointer;
  background-color: #545664;
}

/*
AddAList
*/
/* Composition */
/* Blocks */
.add-list-btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  height: 42px;
  width: calc(100% - 1rem);

  background-color: rgba(199, 199, 209, 1);
}

.add-list-btn-container:hover {
  cursor: pointer;
  background-color: #DDDDE3;
}

.add-list-btn:hover {
  cursor: pointer;
}

.add-list-btn-plus-icon {
  padding-left: 1rem;
  padding-bottom: 3px;
  padding: 0 0 3px 1rem;

  font-size: 20px;
  line-height: 24px;
}